# Extra Metrics

Gorodetskaya et al. (2021) resalta la importancia de rolling mean

In [23]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', 500)

In [86]:
data = pd.read_csv('../data/aggregated_data_payment.csv')
data.head()

,fecha_transaccion,codigo_cajero,tipo_cajero,saldo_inicial,demanda,abastecimiento,saldo_final,Type,Weekday,Holiday Sequence,isYesterdayHoliday,isHoliday,isTomorrowHoliday,isYesterdayWeekday,isTomorrowWeekday,isWeekday,isPaymentDay,isPayweek
0,2023-06-02,6,B,644690.0,243020.0,0.0,401670.0,No Holiday,FRIDAY,WHH,False,True,True,True,False,True,False,True
1,2023-06-02,32,B,775480.0,265420.0,0.0,510060.0,No Holiday,FRIDAY,WHH,False,True,True,True,False,True,False,True
2,2023-06-02,116,B,668240.0,244340.0,0.0,423900.0,No Holiday,FRIDAY,WHH,False,True,True,True,False,True,False,True
3,2023-06-02,525,A,30110.0,8250.0,226470.0,248330.0,No Holiday,FRIDAY,WHH,False,True,True,True,False,True,False,True
4,2023-06-02,302,A,70720.0,11760.0,350460.0,409420.0,No Holiday,FRIDAY,WHH,False,True,True,True,False,True,False,True

In [87]:
data[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda']].loc[
    (data["codigo_cajero"] == 1)
    ].head(20)

       codigo_cajero fecha_transaccion    Weekday   demanda
654                1        2023-06-02     FRIDAY  384630.0
1198               1        2023-06-03   SATURDAY  251860.0
1614               1        2023-06-04     SUNDAY  -52910.0
2519               1        2023-06-05     MONDAY   24710.0
3133               1        2023-06-06    TUESDAY   44010.0
3876               1        2023-06-07  WEDNESDAY  357540.0
4315               1        2023-06-08   THURSDAY   20980.0
5278               1        2023-06-09     FRIDAY  321460.0
5802               1        2023-06-10   SATURDAY  389050.0
6719               1        2023-06-11     SUNDAY -183280.0
7675               1        2023-06-12     MONDAY  153100.0
7878               1        2023-06-13    TUESDAY  -34380.0
8557               1        2023-06-14  WEDNESDAY  454820.0
9134               1        2023-06-15   THURSDAY   50380.0
10040              1        2023-06-16     FRIDAY  465640.0
10906              1        2023-06-17   SATURDAY  448290.0
11257              1        2023-06-18     SUNDAY   23280.0
11926              1        2023-06-19     MONDAY   10680.0
13053              1        2023-06-20    TUESDAY  -10250.0
13713              1        2023-06-21  WEDNESDAY  310510.0

# Tratando demanda

In [90]:
data_rolling_week_mean = pd.DataFrame(data)

data_rolling_week_mean['nueva_demanda'] = np.where(data_rolling_week_mean['demanda'] <= 0, data_rolling_week_mean['demanda'] * -1, data_rolling_week_mean['demanda'])

data_rolling_week_mean[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'nueva_demanda']].loc[
    (data_rolling_week_mean["codigo_cajero"] == 6)
    ].head(100)

       codigo_cajero fecha_transaccion    Weekday   demanda  nueva_demanda
0                  6        2023-06-02     FRIDAY  243020.0       243020.0
952                6        2023-06-03   SATURDAY  364110.0       364110.0
1706               6        2023-06-04     SUNDAY   -5850.0         5850.0
2275               6        2023-06-05     MONDAY   25550.0        25550.0
2832               6        2023-06-06    TUESDAY   45820.0        45820.0
3512               6        2023-06-07  WEDNESDAY  418660.0       418660.0
4699               6        2023-06-08   THURSDAY   43840.0        43840.0
5217               6        2023-06-09     FRIDAY  181850.0       181850.0
6122               6        2023-06-10   SATURDAY  474520.0       474520.0
6321               6        2023-06-11     SUNDAY   22640.0        22640.0
7294               6        2023-06-12     MONDAY   55980.0        55980.0
8219               6        2023-06-13    TUESDAY   15900.0        15900.0
9028               6        2023-06-14  WEDNESDAY  325130.0       325130.0
9285               6        2023-06-15   THURSDAY    9630.0         9630.0
10253              6        2023-06-16     FRIDAY  157680.0       157680.0
10557              6        2023-06-17   SATURDAY  391850.0       391850.0
11495              6        2023-06-18     SUNDAY   60610.0        60610.0
12079              6        2023-06-19     MONDAY    1190.0         1190.0
12974              6        2023-06-20    TUESDAY  -51500.0        51500.0
13729              6        2023-06-21  WEDNESDAY  397780.0       397780.0
14198              6        2023-06-22   THURSDAY     230.0          230.0
15251              6        2023-06-23     FRIDAY  392140.0       392140.0
15543              6        2023-06-24   SATURDAY  298610.0       298610.0
16694              6        2023-06-25     SUNDAY    5730.0         5730.0
17225              6        2023-06-26     MONDAY   22380.0        22380.0
17846              6        2023-06-27    TUESDAY   -8800.0         8800.0
18605              6        2023-06-28  WEDNESDAY  329660.0       329660.0
19406              6        2023-06-29   THURSDAY    7970.0         7970.0
19716              6        2023-06-30     FRIDAY  304040.0       304040.0
20622              6        2023-07-01   SATURDAY  233100.0       233100.0
21111              6        2023-07-02     SUNDAY   35200.0        35200.0
21787              6        2023-07-03     MONDAY    5820.0         5820.0
22689              6        2023-07-04    TUESDAY    5960.0         5960.0
23378              6        2023-07-05  WEDNESDAY  204480.0       204480.0
23915              6        2023-07-06   THURSDAY   39460.0        39460.0
24619              6        2023-07-07     FRIDAY  449790.0       449790.0
25812              6        2023-07-08   SATURDAY  279600.0       279600.0
26299              6        2023-07-09     SUNDAY  -44370.0        44370.0
27060              6        2023-07-10     MONDAY   48540.0        48540.0
27559              6        2023-07-11    TUESDAY   42560.0        42560.0
28630              6        2023-07-12  WEDNESDAY  161210.0       161210.0
29149              6        2023-07-13   THURSDAY    3120.0         3120.0
29784              6        2023-07-14     FRIDAY  445230.0       445230.0
30739              6        2023-07-15   SATURDAY  200110.0       200110.0
31137              6        2023-07-16     SUNDAY    6500.0         6500.0
31754              6        2023-07-17     MONDAY   17000.0        17000.0
32848              6        2023-07-18    TUESDAY    2500.0         2500.0
33233              6        2023-07-19  WEDNESDAY  411400.0       411400.0
34066              6        2023-07-20   THURSDAY   18990.0        18990.0
34892              6        2023-07-21     FRIDAY  218680.0       218680.0
35009              6        2023-07-22   SATURDAY  293970.0       293970.0
36327              6        2023-07-23     SUNDAY   19690.0        19690.0
36949              6        2023-07-24     MONDAY   26240.0        26240.0
37668              6        2023-07-25    TUESDAY     460.0          460.0
37988              6        2023-07-26  WEDNESDAY  350270.0       350270.0
38717              6        2023-07-27   THURSDAY    4630.0         4630.0
39869              6        2023-07-28     FRIDAY  406490.0       406490.0
40153              6        2023-07-29   SATURDAY  449360.0       449360.0
40672              6        2023-07-30     SUNDAY    8200.0         8200.0
41379              6        2023-07-31     MONDAY   21910.0        21910.0
42650              6        2023-08-01    TUESDAY  -30760.0        30760.0
42851              6        2023-08-02  WEDNESDAY  228280.0       228280.0
43434              6        2023-08-03   THURSDAY   63400.0        63400.0
44652              6        2023-08-04     FRIDAY  277720.0       277720.0
45251              6        2023-08-05   SATURDAY  214870.0       214870.0
46186              6        2023-08-06     SUNDAY  159010.0       159010.0
46528              6        2023-08-07     MONDAY   13200.0        13200.0
46957              6        2023-08-08    TUESDAY   55960.0        55960.0
47901              6        2023-08-09  WEDNESDAY  376430.0       376430.0
48425              6        2023-08-10   THURSDAY   10790.0        10790.0
49566              6        2023-08-11     FRIDAY  214020.0       214020.0
49837              6        2023-08-12   SATURDAY  207940.0       207940.0
50812              6        2023-08-13     SUNDAY   16970.0        16970.0
51700              6        2023-08-14     MONDAY   26340.0        26340.0
52443              6        2023-08-15    TUESDAY    6670.0         6670.0
53053              6        2023-08-16  WEDNESDAY  210720.0       210720.0
53769              6        2023-08-17   THURSDAY   27580.0        27580.0
54503              6        2023-08-18     FRIDAY  367090.0       367090.0
55011              6        2023-08-19   SATURDAY  334360.0       334360.0
55741              6        2023-08-20     SUNDAY   31590.0        31590.0
56259              6        2023-08-21     MONDAY    5150.0         5150.0
56857              6        2023-08-22    TUESDAY  -31630.0        31630.0
57529              6        2023-08-23  WEDNESDAY  383230.0       383230.0
58542              6        2023-08-24   THURSDAY   15390.0        15390.0
58941              6        2023-08-25     FRIDAY  337130.0       337130.0
59676              6        2023-08-26   SATURDAY   62240.0        62240.0
60316              6        2023-08-27     SUNDAY  163810.0       163810.0
61265              6        2023-08-28     MONDAY   16500.0        16500.0
61761              6        2023-08-29    TUESDAY   21410.0        21410.0
62387              6        2023-08-30  WEDNESDAY  218060.0       218060.0
63695              6        2023-08-31   THURSDAY   12660.0        12660.0
64032              6        2023-09-01     FRIDAY  302670.0       302670.0
64892              6        2023-09-02   SATURDAY  300940.0       300940.0
65720              6        2023-09-03     SUNDAY  -17660.0        17660.0
66117              6        2023-09-04     MONDAY   14190.0        14190.0
67125              6        2023-09-05    TUESDAY    1880.0         1880.0
67777              6        2023-09-06  WEDNESDAY  348410.0       348410.0
68318              6        2023-09-07   THURSDAY   14610.0        14610.0
68648              6        2023-09-08     FRIDAY  408990.0       408990.0
69443              6        2023-09-09   SATURDAY  427240.0       427240.0

In [76]:
# Create DataFrame
data_rolling_week_mean = pd.DataFrame(data)

# Convert 'fecha_transaccion' to datetime
data_rolling_week_mean['fecha_transaccion'] = pd.to_datetime(data_rolling_week_mean['fecha_transaccion'])

# Adding 'Year' column to differentiate weeks across years
data_rolling_week_mean['Year'] = data_rolling_week_mean['fecha_transaccion'].dt.year

# Adding the 'Week' column to group by weeks
data_rolling_week_mean['Week'] = data_rolling_week_mean['fecha_transaccion'].dt.isocalendar().week

# Adding 'Year' column to differentiate weeks across years
data_rolling_week_mean['Day'] = data_rolling_week_mean['fecha_transaccion'].dt.day

# Group by 'codigo_cajero' and 'Week', then calculate the maximum demand value for each week
data_rolling_week_mean['rolling_mean_week'] = data_rolling_week_mean.groupby(['codigo_cajero', 'Week', 'Day'])['demanda'].transform('median')
# data_rolling_week_mean['rolling_mean_week'] = data_rolling_week_mean.groupby(['codigo_cajero', 'Year', 'Week'])['demanda'].transform('median')

data_rolling_week_mean['rolling_mean_week'].fillna(data_rolling_week_mean['rolling_mean_week'].mean(), inplace=True)

data_rolling_week_mean['nueva_demanda'] = np.where(data_rolling_week_mean['demanda'] <= 0, data_rolling_week_mean['rolling_mean_week'], data_rolling_week_mean['demanda'])

data_rolling_week_mean[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'nueva_demanda', 'rolling_mean_week', 'Week']].loc[
    (data_rolling_week_mean["codigo_cajero"] == 6)
    ].head(100)

C:\Users\edurz\AppData\Local\Temp\ipykernel_16560\1460745435.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_rolling_week_mean['rolling_mean_week'].fillna(data_rolling_week_mean['rolling_mean_week'].mean(), inplace=True)

,codigo_cajero,fecha_transaccion,Weekday,demanda,nueva_demanda,rolling_mean_week,Week
0,6,2023-06-02,FRIDAY,243020.000000,243020.000000,243020.000000,22
952,6,2023-06-03,SATURDAY,364110.000000,364110.000000,364110.000000,22
1706,6,2023-06-04,SUNDAY,200426.666667,200426.666667,200426.666667,22
2275,6,2023-06-05,MONDAY,25550.000000,25550.000000,25550.000000,23
2832,6,2023-06-06,TUESDAY,45820.000000,45820.000000,45820.000000,23
3512,6,2023-06-07,WEDNESDAY,418660.000000,418660.000000,418660.000000,23
4699,6,2023-06-08,THURSDAY,43840.000000,43840.000000,43840.000000,23
5217,6,2023-06-09,FRIDAY,181850.000000,181850.000000,181850.000000,23
6122,6,2023-06-10,SATURDAY,474520.000000,474520.000000,474520.000000,23
6321,6,2023-06-11,SUNDAY,22640.000000,22640.000000,22640.000000,23
7294,6,2023-06-12,MONDAY,55980.000000,55980.000000,55980.000000,24
8219,6,2023-06-13,TUESDAY,15900.000000,15900.000000,15900.000000,24
9028,6,2023-06-14,WEDNESDAY,325130.000000,325130.000000,325130.000000,24
9285,6,2023-06-15,THURSDAY,9630.000000,9630.000000,9630.000000,24
10253,6,2023-06-16,FRIDAY,157680.000000,157680.000000,157680.000000,24
10557,6,2023-06-17,SATURDAY,391850.000000,391850.000000,391850.000000,24
11495,6,2023-06-18,SUNDAY,60610.000000,60610.000000,60610.000000,24
12079,6,2023-06-19,MONDAY,1190.000000,1190.000000,1190.000000,25
12974,6,2023-06-20,TUESDAY,149168.571429,149168.571429,149168.571429,25
13729,6,2023-06-21,WEDNESDAY,397780.000000,397780.000000,397780.000000,25
14198,6,2023-06-22,THURSDAY,230.000000,230.000000,230.000000,25
15251,6,2023-06-23,FRIDAY,392140.000000,392140.000000,392140.000000,25
15543,6,2023-06-24,SATURDAY,298610.000000,298610.000000,298610.000000,25
16694,6,2023-06-25,SUNDAY,5730.000000,5730.000000,5730.000000,25
17225,6,2023-06-26,MONDAY,22380.000000,22380.000000,22380.000000,26
17846,6,2023-06-27,TUESDAY,131935.714286,131935.714286,131935.714286,26
18605,6,2023-06-28,WEDNESDAY,329660.000000,329660.000000,329660.000000,26
19406,6,2023-06-29,THURSDAY,7970.000000,7970.000000,7970.000000,26
19716,6,2023-06-30,FRIDAY,304040.000000,304040.000000,304040.000000,26
20622,6,2023-07-01,SATURDAY,233100.000000,233100.000000,233100.000000,26
21111,6,2023-07-02,SUNDAY,35200.000000,35200.000000,35200.000000,26
21787,6,2023-07-03,MONDAY,5820.000000,5820.000000,5820.000000,27
22689,6,2023-07-04,TUESDAY,5960.000000,5960.000000,5960.000000,27
23378,6,2023-07-05,WEDNESDAY,204480.000000,204480.000000,204480.000000,27
23915,6,2023-07-06,THURSDAY,39460.000000,39460.000000,39460.000000,27
24619,6,2023-07-07,FRIDAY,449790.000000,449790.000000,449790.000000,27
25812,6,2023-07-08,SATURDAY,279600.000000,279600.000000,279600.000000,27
26299,6,2023-07-09,SUNDAY,134391.428571,134391.428571,134391.428571,27
27060,6,2023-07-10,MONDAY,48540.000000,48540.000000,48540.000000,28
27559,6,2023-07-11,TUESDAY,42560.000000,42560.000000,42560.000000,28
28630,6,2023-07-12,WEDNESDAY,161210.000000,161210.000000,161210.000000,28
29149,6,2023-07-13,THURSDAY,3120.000000,3120.000000,3120.000000,28
29784,6,2023-07-14,FRIDAY,445230.000000,445230.000000,445230.000000,28
30739,6,2023-07-15,SATURDAY,200110.000000,200110.000000,200110.000000,28
31137,6,2023-07-16,SUNDAY,6500.000000,6500.000000,6500.000000,28
31754,6,2023-07-17,MONDAY,17000.000000,17000.000000,17000.000000,29
32848,6,2023-07-18,TUESDAY,2500.000000,2500.000000,2500.000000,29
33233,6,2023-07-19,WEDNESDAY,411400.000000,411400.000000,411400.000000,29
34066,6,2023-07-20,THURSDAY,18990.000000,18990.000000,18990.000000,29
34892,6,2023-07-21,FRIDAY,218680.000000,218680.000000,218680.000000,29
35009,6,2023-07-22,SATURDAY,293970.000000,293970.000000,293970.000000,29
36327,6,2023-07-23,SUNDAY,19690.000000,19690.000000,19690.000000,29
36949,6,2023-07-24,MONDAY,26240.000000,26240.000000,26240.000000,30
37668,6,2023-07-25,TUESDAY,460.000000,460.000000,460.000000,30
37988,6,2023-07-26,WEDNESDAY,350270.000000,350270.000000,350270.000000,30
38717,6,2023-07-27,THURSDAY,4630.000000,4630.000000,4630.000000,30
39869,6,2023-07-28,FRIDAY,406490.000000,406490.000000,406490.000000,30
40153,6,2023-07-29,SATURDAY,449360.000000,449360.000000,449360.000000,30
40672,6,2023-07-30,SUNDAY,8200.000000,8200.000000,8200.000000,30
41379,6,2023-07-31,MONDAY,21910.000000,21910.000000,21910.000000,31
42650,6,2023-08-01,TUESDAY,133490.000000,133490.000000,133490.000000,31
42851,6,2023-08-02,WEDNESDAY,228280.000000,228280.000000,228280.000000,31
43434,6,2023-08-03,THURSDAY,63400.000000,63400.000000,63400.000000,31
44652,6,2023-08-04,FRIDAY,277720.000000,277720.000000,277720.000000,31
45251,6,2023-08-05,SATURDAY,214870.000000,214870.000000,214870.000000,31
46186,6,2023-08-06,SUNDAY,159010.000000,159010.000000,159010.000000,31
46528,6,2023-08-07,MONDAY,13200.000000,13200.000000,13200.000000,32
46957,6,2023-08-08,TUESDAY,55960.000000,55960.000000,55960.000000,32
47901,6,2023-08-09,WEDNESDAY,376430.000000,376430.000000,376430.000000,32
48425,6,2023-08-10,THURSDAY,10790.000000,10790.000000,10790.000000,32
49566,6,2023-08-11,FRIDAY,214020.000000,214020.000000,214020.000000,32
49837,6,2023-08-12,SATURDAY,207940.000000,207940.000000,207940.000000,32
50812,6,2023-08-13,SUNDAY,16970.000000,16970.000000,16970.000000,32
51700,6,2023-08-14,MONDAY,26340.000000,26340.000000,26340.000000,33
52443,6,2023-08-15,TUESDAY,6670.000000,6670.000000,6670.000000,33
53053,6,2023-08-16,WEDNESDAY,210720.000000,210720.000000,210720.000000,33
53769,6,2023-08-17,THURSDAY,27580.000000,27580.000000,27580.000000,33
54503,6,2023-08-18,FRIDAY,367090.000000,367090.000000,367090.000000,33
55011,6,2023-08-19,SATURDAY,334360.000000,334360.000000,334360.000000,33
55741,6,2023-08-20,SUNDAY,31590.000000,31590.000000,31590.000000,33
56259,6,2023-08-21,MONDAY,5150.000000,5150.000000,5150.000000,34
56857,6,2023-08-22,TUESDAY,133617.142857,133617.142857,133617.142857,34
57529,6,2023-08-23,WEDNESDAY,383230.000000,383230.000000,383230.000000,34
58542,6,2023-08-24,THURSDAY,15390.000000,15390.000000,15390.000000,34
58941,6,2023-08-25,FRIDAY,337130.000000,337130.000000,337130.000000,34
59676,6,2023-08-26,SATURDAY,62240.000000,62240.000000,62240.000000,34
60316,6,2023-08-27,SUNDAY,163810.000000,163810.000000,163810.000000,34
61265,6,2023-08-28,MONDAY,16500.000000,16500.000000,16500.000000,35
61761,6,2023-08-29,TUESDAY,21410.000000,21410.000000,21410.000000,35
62387,6,2023-08-30,WEDNESDAY,218060.000000,218060.000000,218060.000000,35
63695,6,2023-08-31,THURSDAY,12660.000000,12660.000000,12660.000000,35
64032,6,2023-09-01,FRIDAY,302670.000000,302670.000000,302670.000000,35
64892,6,2023-09-02,SATURDAY,300940.000000,300940.000000,300940.000000,35
65720,6,2023-09-03,SUNDAY,122082.857143,122082.857143,122082.857143,35
66117,6,2023-09-04,MONDAY,14190.000000,14190.000000,14190.000000,36
67125,6,2023-09-05,TUESDAY,1880.000000,1880.000000,1880.000000,36
67777,6,2023-09-06,WEDNESDAY,348410.000000,348410.000000,348410.000000,36
68318,6,2023-09-07,THURSDAY,14610.000000,14610.000000,14610.000000,36
68648,6,2023-09-08,FRIDAY,408990.000000,408990.000000,408990.000000,36
69443,6,2023-09-09,SATURDAY,427240.000000,427240.000000,427240.000000,36

In [91]:
data['demanda'] = data_rolling_week_mean['nueva_demanda']

## Cálculo de rolling_mean_weekday

The average demand for two days of the same past (on two Tuesdays, on two Wednesdays)

In [92]:
data_rolling_mean_weekday = data.copy(deep=True)

# Convert 'fecha_transaccion' to datetime
data_rolling_mean_weekday['fecha_transaccion'] = pd.to_datetime(data_rolling_mean_weekday['fecha_transaccion'])

# Sort the data by codigo_cajero and fecha_transaccion
data_rolling_mean_weekday = data_rolling_mean_weekday.sort_values(by=['codigo_cajero', 'fecha_transaccion'])

# Group by 'codigo_cajero' and 'Weekday', then apply rolling mean with window=2 (to compare two past same weekdays)
data_rolling_mean_weekday['rolling_mean_weekday'] = data_rolling_mean_weekday.groupby(['codigo_cajero', 'Weekday'])['demanda'] \
    .transform(lambda x: x.rolling(window=2, min_periods=1, closed='left').mean())

data_rolling_mean_weekday['rolling_mean_weekday'] = data_rolling_mean_weekday['rolling_mean_weekday'].fillna(data_rolling_mean_weekday['demanda'])

data_rolling_mean_weekday[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'rolling_mean_weekday']].loc[
    (data_rolling_mean_weekday["codigo_cajero"] == 1)
    ].head(20)

,codigo_cajero,fecha_transaccion,Weekday,demanda,rolling_mean_weekday
654,1,2023-06-02,FRIDAY,384630.0,384630.0
1198,1,2023-06-03,SATURDAY,251860.0,251860.0
1614,1,2023-06-04,SUNDAY,52910.0,52910.0
2519,1,2023-06-05,MONDAY,24710.0,24710.0
3133,1,2023-06-06,TUESDAY,44010.0,44010.0
3876,1,2023-06-07,WEDNESDAY,357540.0,357540.0
4315,1,2023-06-08,THURSDAY,20980.0,20980.0
5278,1,2023-06-09,FRIDAY,321460.0,384630.0
5802,1,2023-06-10,SATURDAY,389050.0,251860.0
6719,1,2023-06-11,SUNDAY,183280.0,52910.0
7675,1,2023-06-12,MONDAY,153100.0,24710.0
7878,1,2023-06-13,TUESDAY,34380.0,44010.0
8557,1,2023-06-14,WEDNESDAY,454820.0,357540.0
9134,1,2023-06-15,THURSDAY,50380.0,20980.0
10040,1,2023-06-16,FRIDAY,465640.0,353045.0
10906,1,2023-06-17,SATURDAY,448290.0,320455.0
11257,1,2023-06-18,SUNDAY,23280.0,118095.0
11926,1,2023-06-19,MONDAY,10680.0,88905.0
13053,1,2023-06-20,TUESDAY,10250.0,39195.0
13713,1,2023-06-21,WEDNESDAY,310510.0,406180.0

## Cálculo de rolling_max

maximum demand value for the week

In [93]:
# Create DataFrame
data_rolling_max = pd.DataFrame(data)

# Convert 'fecha_transaccion' to datetime
data_rolling_max['fecha_transaccion'] = pd.to_datetime(data_rolling_max['fecha_transaccion'])

# Adding 'Year' column to differentiate weeks across years
data_rolling_max['Year'] = data_rolling_max['fecha_transaccion'].dt.year

# Adding the 'Week' column to group by weeks
data_rolling_max['Week'] = data_rolling_max['fecha_transaccion'].dt.isocalendar().week

# Group by 'codigo_cajero' and 'Week', then calculate the maximum demand value for each week
data_rolling_max['rolling_max'] = data_rolling_max.groupby(['codigo_cajero', 'Year', 'Week'])['demanda'].transform('max')

data_rolling_max[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'rolling_max', 'Week']].loc[
    (data_rolling_max["codigo_cajero"] == 1)
    ].head()

      codigo_cajero fecha_transaccion   Weekday   demanda  rolling_max  Week
654               1        2023-06-02    FRIDAY  384630.0     384630.0    22
1198              1        2023-06-03  SATURDAY  251860.0     384630.0    22
1614              1        2023-06-04    SUNDAY   52910.0     384630.0    22
2519              1        2023-06-05    MONDAY   24710.0     389050.0    23
3133              1        2023-06-06   TUESDAY   44010.0     389050.0    23

## Cálculo de lag_6

the amount of demand six days ago

In [94]:
# Create DataFrame
data_lag_6 = pd.DataFrame(data)

data_lag_6['lag_6'] = data_lag_6.groupby('codigo_cajero')['demanda'].shift(6)

data_lag_6['lag_6'] = data_lag_6['lag_6'].fillna(data_lag_6['demanda'])

data_lag_6[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'lag_6']].loc[
    (data_lag_6["codigo_cajero"] == 1)
    ].head()

      codigo_cajero fecha_transaccion   Weekday   demanda     lag_6
654               1        2023-06-02    FRIDAY  384630.0  384630.0
1198              1        2023-06-03  SATURDAY  251860.0  251860.0
1614              1        2023-06-04    SUNDAY   52910.0   52910.0
2519              1        2023-06-05    MONDAY   24710.0   24710.0
3133              1        2023-06-06   TUESDAY   44010.0   44010.0

## LAG_7

In [95]:
# Create DataFrame
data_lag_7 = pd.DataFrame(data)

data_lag_7['lag_7'] = data_lag_7.groupby('codigo_cajero')['demanda'].shift(7)

data_lag_7['lag_7'] = data_lag_7['lag_7'].fillna(data_lag_6['demanda'])

data_lag_7[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'lag_7']].loc[
    (data_lag_6["codigo_cajero"] == 1)
    ].head(14)

      codigo_cajero fecha_transaccion    Weekday   demanda     lag_7
654               1        2023-06-02     FRIDAY  384630.0  384630.0
1198              1        2023-06-03   SATURDAY  251860.0  251860.0
1614              1        2023-06-04     SUNDAY   52910.0   52910.0
2519              1        2023-06-05     MONDAY   24710.0   24710.0
3133              1        2023-06-06    TUESDAY   44010.0   44010.0
3876              1        2023-06-07  WEDNESDAY  357540.0  357540.0
4315              1        2023-06-08   THURSDAY   20980.0   20980.0
5278              1        2023-06-09     FRIDAY  321460.0  384630.0
5802              1        2023-06-10   SATURDAY  389050.0  251860.0
6719              1        2023-06-11     SUNDAY  183280.0   52910.0
7675              1        2023-06-12     MONDAY  153100.0   24710.0
7878              1        2023-06-13    TUESDAY   34380.0   44010.0
8557              1        2023-06-14  WEDNESDAY  454820.0  357540.0
9134              1        2023-06-15   THURSDAY   50380.0   20980.0

## Cálculo de rolling_max_weekday

The maximum demand value for two of the same past days of the week (on two Tuesdays, on two Wednesdays)

In [96]:
data_rolling_max_weekday = data.copy(deep=True)

# Convert 'fecha_transaccion' to datetime
data_rolling_max_weekday['fecha_transaccion'] = pd.to_datetime(data_rolling_max_weekday['fecha_transaccion'])

# Sort the data by codigo_cajero and fecha_transaccion
data_rolling_max_weekday = data_rolling_max_weekday.sort_values(by=['codigo_cajero', 'fecha_transaccion'])

# Group by 'codigo_cajero' and 'Weekday', then apply rolling mean with window=2 (to compare two past same weekdays)
data_rolling_max_weekday['rolling_max_weekday'] = data_rolling_max_weekday.groupby(['codigo_cajero', 'Weekday'])['demanda'] \
    .transform(lambda x: x.rolling(window=2, min_periods=1, closed='left').max())

data_rolling_max_weekday['rolling_max_weekday'] = data_rolling_max_weekday['rolling_max_weekday'].fillna(data_rolling_max_weekday['demanda'])

data_rolling_max_weekday[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'rolling_max_weekday']].loc[
    (data_rolling_max_weekday["codigo_cajero"] == 1)
    ].head()

      codigo_cajero fecha_transaccion   Weekday   demanda  rolling_max_weekday
654               1        2023-06-02    FRIDAY  384630.0             384630.0
1198              1        2023-06-03  SATURDAY  251860.0             251860.0
1614              1        2023-06-04    SUNDAY   52910.0              52910.0
2519              1        2023-06-05    MONDAY   24710.0              24710.0
3133              1        2023-06-06   TUESDAY   44010.0              44010.0

## Cálculo de rolling_std

Weekly demand standard deviation

In [97]:
# Create DataFrame
data_rolling_std = pd.DataFrame(data)

# Convert 'fecha_transaccion' to datetime
data_rolling_std['fecha_transaccion'] = pd.to_datetime(data_rolling_std['fecha_transaccion'])

# Adding 'Year' column to differentiate weeks across years
data_rolling_std['Year'] = data_rolling_std['fecha_transaccion'].dt.year

# Adding the 'Week' column to group by weeks
data_rolling_std['Week'] = data_rolling_std['fecha_transaccion'].dt.isocalendar().week

# Group by 'codigo_cajero' and 'Week', then calculate the maximum demand value for each week
data_rolling_std['rolling_std'] = data_rolling_std.groupby(['codigo_cajero', 'Year', 'Week'])['demanda'].transform('std')

data_rolling_std['rolling_std'].fillna(data_rolling_std['rolling_std'].mean(), inplace=True)

data_rolling_std[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'rolling_std', 'Week']].loc[
    (data_rolling_std["codigo_cajero"] == 1)
    ].head()

C:\Users\edurz\AppData\Local\Temp\ipykernel_16560\1433469172.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_rolling_std['rolling_std'].fillna(data_rolling_std['rolling_std'].mean(), inplace=True)

      codigo_cajero fecha_transaccion   Weekday   demanda    rolling_std  Week
654               1        2023-06-02    FRIDAY  384630.0  166956.647966    22
1198              1        2023-06-03  SATURDAY  251860.0  166956.647966    22
1614              1        2023-06-04    SUNDAY   52910.0  166956.647966    22
2519              1        2023-06-05    MONDAY   24710.0  164419.021898    23
3133              1        2023-06-06   TUESDAY   44010.0  164419.021898    23

## Cálculo de rolling_mean

Average monthly demand value

In [98]:
# Create DataFrame
data_rolling_mean = pd.DataFrame(data)

# Convert 'fecha_transaccion' to datetime
data_rolling_mean['fecha_transaccion'] = pd.to_datetime(data_rolling_mean['fecha_transaccion'])

# Adding 'Year' column to differentiate weeks across years
data_rolling_mean['Year'] = data_rolling_mean['fecha_transaccion'].dt.year

# Adding 'Month' column to differentiate weeks across years
data_rolling_mean['Month'] = data_rolling_mean['fecha_transaccion'].dt.month

# Group by 'codigo_cajero' and 'Week', then calculate the maximum demand value for each week
data_rolling_mean['rolling_mean'] = data_rolling_mean.groupby(['codigo_cajero', 'Year', 'Month'])['demanda'].transform('mean')

data_rolling_mean[['codigo_cajero', 'fecha_transaccion', 'Weekday', 'demanda', 'rolling_mean']].loc[
    (data_rolling_mean["codigo_cajero"] == 1) &
    (data_rolling_mean["Month"] == 1)
    ].head()

        codigo_cajero fecha_transaccion    Weekday   demanda  rolling_mean
149157              1        2024-01-01     MONDAY   28340.0      157070.0
150334              1        2024-01-02    TUESDAY   29680.0      157070.0
150850              1        2024-01-03  WEDNESDAY  331260.0      157070.0
151708              1        2024-01-04   THURSDAY   11930.0      157070.0
151940              1        2024-01-05     FRIDAY  328120.0      157070.0

## Combinando las métricas

In [99]:
# Copiando el dataframe original
agg_data = data.copy(deep = True)

# Agregando todas las métricas
agg_data['rolling_mean_weekday'] = data_rolling_mean_weekday['rolling_mean_weekday']
agg_data['rolling_max'] = data_rolling_max['rolling_max']
agg_data['lag_6'] = data_lag_6['lag_6']
agg_data['lag_7'] = data_lag_7['lag_7']
agg_data['rolling_max_weekday'] = data_rolling_max_weekday['rolling_max_weekday']
agg_data['rolling_std'] = data_rolling_std['rolling_std']
agg_data['rolling_mean'] = data_rolling_mean['rolling_mean']
# agg_data['demanda'] = data_rolling_week_mean['nueva_demanda']

agg_data[['codigo_cajero', 'rolling_mean_weekday', 'rolling_max', 'lag_6', 'lag_7', 'rolling_max_weekday', 'rolling_std', 'rolling_mean']]

,codigo_cajero,rolling_mean_weekday,rolling_max,lag_6,lag_7,rolling_max_weekday,rolling_std,rolling_mean
0,6,243020.0,364110.0,243020.0,243020.0,243020.0,182237.310761,160781.724138
1,32,265420.0,476500.0,265420.0,265420.0,265420.0,158371.404405,184831.379310
2,116,244340.0,244340.0,244340.0,244340.0,244340.0,22634.380928,182509.655172
3,525,8250.0,206430.0,8250.0,8250.0,8250.0,115841.744347,140405.517241
4,302,11760.0,343400.0,11760.0,11760.0,11760.0,189907.456497,165362.413793
...,...,...,...,...,...,...,...,...
247795,9,26925.0,3110.0,34040.0,17610.0,36240.0,177929.700551,179708.500000
247796,7,22585.0,177790.0,27540.0,9970.0,35200.0,177929.700551,175478.500000
247797,694,29495.0,14820.0,3880.0,43430.0,43430.0,177929.700551,185896.500000
247798,29,13150.0,32390.0,15450.0,24720.0,24720.0,177929.700551,166871.000000
247799,26,29790.0,41080.0,11040.0,21600.0,37980.0,177929.700551,163958.500000

In [100]:
agg_data.to_csv('../data/aggregated_data_extra_metrics.csv', index=False)